@import '../../../base/setting.scss';

.page-help {
    .card {

        .header {
            .accesses {
                gap: 25px;

                .image-user {
                    width: 47px;
                    height: 47px;
                    border-radius: 50px;
                    overflow: hidden;

                    .img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .box-iconAccess {
                    .icon-access {
                        cursor: pointer;
                        color: #707070;
                        transition: all 0.3s;

                        &:hover {
                            color: #EB4235;
                        }
                    }
                }

                .search-box {
                    position: relative;

                    .icon-search {

                        @media screen and (max-width: 425px) {
                            right: 0;
                        }

                        position: absolute;
                        right: 20px;
                    }

                    .input-search {
                        @media screen and (max-width: 425px) {
                            display: none;
                        }

                        width: 230px;
                        height: 47px;
                        padding-left: 15px;
                        padding-right: 50px;
                        border: 0;
                        border-radius: 50px;
                        background: #F8FAFD;
                        color: #E3EBF6;
                        transition: all 0.3s;

                        &::placeholder {
                            color: #E3EBF6;
                        }

                        &:focus {
                            box-shadow: 0 0 12px -10px #000000a1;

                        }
                    }

                    .input-search2 {
                        width: 230px;
                        height: 47px;
                        padding: 15px 20px;
                        border: 0;
                        border-radius: 50px;
                        background: #F8FAFD;
                        color: $text2;
                        position: absolute;
                        top: 35px;
                        left: -150px;
                        font-size: 13px;
                        visibility: hidden;
                        opacity: 0;
                        z-index: 4;
                        box-shadow: 0 0 20px -15px #000;
                        transition: all 0.3s;

                        &.active {
                            top: 27px;
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .contents {
            @media screen and (max-width: 1440px) {
                margin-top: 45px;
            }

            @media screen and (max-width: 375px) {
                border: 0;
                margin-top: 0;
            }

            width: 100%;
            max-width: 680px;
            min-width: 310px;
            min-height: 500px;
            border: 1px solid #E3EBF6;
            border-radius: 30px;
            padding: 45px 32px 0;
            position: relative;

            .part {
                .title {
                    font-size: 19px;
                    color: #707070;
                    margin-bottom: 20px;
                    position: relative;

                    &::after {
                        content: "";
                        display: block;
                        width: 2px;
                        height: 115px;
                        background-color: $orange;
                        position: absolute;
                        right: -33px;
                        top: 2px;
                    }
                }

                .desc {
                    font-size: 15px;
                    color: #ABB5C6;
                    line-height: 1.8;

                    .text {}
                }

                .image-box {
                    width: 100%;
                    max-width: 615px;
                    min-width: 250px;
                    margin: 45px auto;

                    .img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .list {
                @media screen and (max-width: 1440px) {
                    left: -50px;
                    top: 210px;
                }

                @media screen and (max-width: 1024px) {
                    position: relative;
                    left: 23px;
                    top: -10px;
                    width: 100%;
                    margin-bottom: 50px;
                }

                position: fixed;
                left: 175px;
                top: 155px;
                width: 400px;

                a {
                    position: relative;
                    padding-right: 10px;

                    &.active {
                        color: $orange !important;

                        &::after {
                            content: "";
                            position: absolute;
                            right: -10px;
                            top: 12px;
                            display: block;
                            transform: translateY(-50%);
                            width: 2px;
                            height: 25px;
                            background-color: $orange;
                        }
                    }
                }

                .item {
                    margin-block: 15px;

                    &:first-child {
                        .link {
                            color: #3d3c45 !important;

                            &:hover {
                                color: $hover2 !important;
                            }
                        }
                    }

                    .link {
                        color: #ABB5C6;
                        font-size: 15px;
                        transition: all 0.3s;

                        &:hover {
                            color: $hover2;
                        }
                    }

                    .subList {
                        margin: 0 20px 15px 0;

                        .itemList {
                            margin-block: 10px;
                            color: #ABB5C6;
                            font-size: 13px;
                            cursor: pointer;
                            transition: all 0.3s;

                            &:hover {
                                color: $hover2;
                            }

                            .link-subList {
                                color: #ABB5C6;
                                font-size: 15px;
                                cursor: pointer;
                                transition: all 0.3s;

                                &:hover {
                                    color: $hover2;
                                }
                            }
                        }
                    }
                }
            }
        }

        .question-box {
            @media screen and (max-width: 425px) {
                margin: 45px 0 100px;
            }

            width: 100%;
            max-width: 680px;
            min-width: 310px;
            border: 1px solid #E3EBF6;
            border-radius: 30px;
            padding: 32px;
            margin: 90px 0 20px;
            gap: 22px;

            .question-text {
                color: #707070;
                font-size: 17px;
            }

            .answer {
                display: flex;
                gap: 15px;

                .btn-yes,
                .btn-no {
                    width: 100%;
                    max-width: 150px;
                    min-width: 130px;
                    padding-block: 15px;
                    background: #F3F7FE;
                    color: #ABB5C6;
                    font-size: 15px;
                    border-radius: 30px;
                    border: 0;
                    cursor: pointer;
                    transition: all 0.3s;

                    &:hover {
                        background: #3d3c45;
                        color: #fff;
                        box-shadow: 0 0 15px -9px #000;
                    }
                }
            }
        }

        .footer {
            position: relative;

            .question-footer {
                @media screen and (max-width: 768px) {
                    top: 52px;
                }

                @media screen and (max-width: 425px) {
                    top: -10px;
                }

                position: relative;
                top: 110px;
                gap: 40px;
                margin: 0 auto;

                .text {
                    font-size: 17px;
                    color: #707070;
                }

                .btn {
                    width: 200px;
                    padding-block: 15px;
                    background: #F3F7FE;
                    border-radius: 30px;
                    border: 0;
                    color: #707070;
                    font-size: 15px;
                    cursor: pointer;
                    transition: all 0.3s;

                    &:hover {
                        background: #3d3c45;
                        color: #fff;
                        box-shadow: 0 0 15px -9px #000;

                    }
                }
            }

            .box-imgFooter {
                width: 100%;
                max-width: 1280px;
                min-width: 320px;

                .image {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}