@import '../../../base/setting.scss';

@keyframes rotate {

    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes tilt {

    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes moveTop {
    0% {
        transform: translateY(1px);
    }

    100% {
        transform: translateY(-1px);
    }
}

.page-landing {
    overflow: hidden;

    .card {
        position: relative;
        height: 95.5vh;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 55%;
            width: 2600px;
            height: 1500px;
            border-radius: 50%;
            background: var(--bg3);
        }

        .header {
            width: 100%;
            height: 70px;

            .menu {
                gap: 25px;

                .logo {}

                .items-box {
                    display: flex;
                    align-items: center;
                    gap: 25px;

                    .item {
                        .action {
                            color: var(--text2);
                            transition: $transition;

                            &:hover {
                                color: var(--blue);
                            }
                        }
                    }
                }
            }

            .content {
                .text::after {
                    background: var(--blue) !important;
                }
            }
        }

        .contents {
            position: relative;
            z-index: 1;

            .title {
                color: var(--text2);
                font-size: 27px;
                margin-bottom: 20px;
            }

            .text {
                color: var(--blue);
                font-size: 23px;

                .action {
                    padding: 10px 24px;
                    font-size: 14px;
                    color: var(--white);
                    border-radius: 50px;
                    margin-right: 3px;
                    vertical-align: middle;
                    background: var(--blue);
                    transition: $transition;

                    &:hover {
                        background: var(--text2);
                    }
                }
            }
        }

        .info-subject {
            position: absolute;
            bottom: 0;
            z-index: 1;

            .box-phone {
                width: 435px;

                .img {
                    width: 100%;
                    height: 100%;
                }

                .box-content {
                    position: absolute;
                    top: 100px;
                    right: 0;
                    width: 100%;
                    gap: 12px;

                    .top {
                        width: 100%;
                        padding-inline: 60px;

                        .icon-arrow {
                            display: block;
                            position: absolute;
                            right: 73px;
                            margin-top: 2px;
                            width: 10px;
                        }

                        .custom {
                            color: $text2;
                            cursor: pointer;
                            border: 1px solid $text2;
                            border-radius: 12px;
                            font-size: 12px;
                            padding: 7px 30px 7px 10px;
                            transition: all 0.3s;
                        }

                        .date {
                            color: $text2;
                            font-size: 12px;
                        }
                    }

                    .visit {
                        text-align: center;

                        .number {
                            font-size: 20px;
                            color: $text2;
                        }

                        .desc {
                            font-size: 12px;
                            color: var(--text1);
                        }
                    }

                    .status {
                        gap: 10px;
                        position: relative;
                        right: -13px;

                        .users {
                            text-align: left;
                        }

                        .users,
                        .client {
                            .increase {
                                color: var(--green);
                                font-size: 12px;
                            }

                            .number {
                                font-size: 20px;
                                color: var(--blue);
                                margin-bottom: 5px;
                            }

                            .desc {
                                font-size: 12px;
                                color: $text2;
                            }
                        }

                        #myChart {
                            position: relative;
                            top: 0;
                            z-index: 10;
                            width: 68px !important;
                            height: 68px !important;
                        }
                    }

                    .chart-container {
                        width: 435px;
                        height: 210px;
                        margin: auto;
                        position: relative;
                        left: 0;
                        top: 2px;

                        #waveChart {
                            display: block;
                            box-sizing: border-box;
                            height: 118px !important;
                            width: 500px !important;
                            position: relative;
                            left: 72px !important;
                        }

                        .label-box {
                            position: absolute;
                            background-color: var(--white);
                            padding: 5px 10px;
                            border-radius: 15px;
                            font-size: 14px;
                            font-weight: bold;
                            border: 1px solid #ddd;
                        }

                        .max-label {
                            top: -13px;
                            left: 50%;
                            transform: translateX(-170%);
                            border-color: var(--green);
                            color: var(--green);
                            background: #3db17824;

                            &::after {
                                content: "- - - - - - - - - -";
                                display: block;
                                color: var(--green);
                                position: absolute;
                                position: absolute;
                                right: -77px;
                                bottom: 5px;
                                width: 76px;
                            }
                        }

                        .min-label {
                            top: 92px;
                            left: 20%;
                            transform: translateX(360%);
                            border-color: var(--orange);
                            color: var(--orange);
                            background: #ffbf0021;

                            &::after {
                                content: "- - - - - - - - - -";
                                display: block;
                                color: var(--orange);
                                position: absolute;
                                position: absolute;
                                left: -77px;
                                bottom: 5px;
                                width: 76px;
                            }
                        }

                        .month {
                            width: 91%;
                            position: relative;
                            right: 22px;
                            top: 12px;
                            display: flex;
                            flex-direction: row-reverse;


                            .name {
                                color: var(--text1);
                                font-size: 10px;
                                transform: rotate(-40deg);
                                margin-inline: 6px;
                            }
                        }
                    }
                }

                .partSlider {
                    width: 133%;
                    position: absolute;
                    bottom: 0;
                    right: -70px;
                    animation: moveTop 1s 0.5s ease-in-out infinite alternate;

                    .slider {
                        padding-block: 10px;
                        padding-left: 6px;
                        padding-right: 147px;
                        overflow-x: auto;
                        transition: all 0.3s;

                        &::-webkit-scrollbar {
                            display: none;
                        }

                        .row-slider {
                            scroll-snap-align: start;
                            flex-shrink: 0;
                            gap: 15px;

                            .item {
                                background-color: var(--white);
                                width: 130px;
                                min-height: 165px;
                                padding: 10px;
                                border-radius: 20px;
                                gap: 5px;
                                box-shadow: 0 3px 20px -19px var(--black);

                                .imageItem {
                                    width: 80px;
                                    height: 80px;
                                    border-radius: 50px;
                                    gap: 5px;

                                    .img {
                                        width: 40%;
                                        height: 40%;
                                    }

                                    .text {
                                        color: var(--text2);
                                        font-size: 12px;
                                    }
                                }

                                #bank {
                                    background: var(--bgBank);
                                }

                                #poshtibani {
                                    background: var(--bgPoshtibani);
                                }

                                #chat {
                                    background: var(--bgChat);
                                }

                                #discount {
                                    background: var(--bgDiscount);
                                }

                                #boxes {
                                    background: var(--bgBoxes);
                                }

                                .content {
                                    .number {
                                        color: var(--text1);
                                        text-align: center;
                                        font-size: 17px;
                                    }

                                    .money {
                                        font-size: 15px;
                                        color: var(--blue);
                                        margin-top: 10px;

                                        .toman {
                                            color: var(--text1);
                                            font-size: 12px;

                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .box-shoes {
                width: 400px;
                min-height: 200px;
                background: var(--white);
                box-shadow: 0 3px 20px -19px var(--black);
                border-radius: 30px;
                position: absolute;
                top: 180px;
                left: 390px;
                gap: 15px;
                padding: 12px;
                animation: moveTop 1s 1s ease-in-out infinite alternate;

                .status {
                    gap: 10px;

                    .sum-visit {
                        text-align: left;
                    }

                    .sum-buy {}

                    .sum-visit,
                    .sum-buy {
                        .number {
                            font-size: 22px;
                            color: var(--blue);
                            margin-bottom: 5px;

                            span {
                                font-size: 12px;
                                color: var(--text1);
                                margin-inline: 10px;
                            }
                        }

                        .desc {
                            font-size: 14px;
                            color: var(--text2);
                        }
                    }

                    .image-shoes {
                        width: 70px;
                        height: 70px;
                        position: relative;

                        #chart-shoes {
                            position: absolute;
                            bottom: -1px;
                            left: -7px;
                            z-index: 10;
                            width: 85px !important;
                            height: 85px !important;
                        }

                        .img {
                            width: 67%;
                            height: 67%;
                        }

                        &::after {
                            content: "";
                            display: block;
                            background-image: url(/img/landing/King.svg);
                            background-repeat: no-repeat;
                            background-size: 100%;
                            width: 22px;
                            height: 40%;
                            position: absolute;
                            top: -10px;
                            right: 0;
                            transform: rotate(5deg);
                        }
                    }
                }

                .text-box {
                    color: var(--text2);
                    gap: 30px;
                    font-size: 15px;

                    .product-type {}

                    .desc {
                        span {
                            margin-left: 8px;
                        }
                    }
                }
            }

            .discount {
                width: 150px;
                height: 150px;
                border: 1px solid #eaf1fb33;
                border-radius: 20px;
                gap: 17px;
                background: var(--bgBoxDiscount);
                position: absolute;
                top: 430px;
                right: -300px;
                box-shadow: 0 3px 20px -19px var(--black);
                animation: moveTop 1s ease-in-out infinite alternate;

                .icon {
                    width: 42px;
                }

                .text {
                    font-size: 15px;
                    color: var(--text2);
                }
            }

            .switch {
                font-size: 17px;
                position: absolute;
                top: 405px;
                right: -145px;
                display: inline-block;
                width: 65px;
                height: 35px;
                animation: moveTop 1s 0.5s ease-in-out infinite alternate;

                .sun,
                .moon {
                    svg {
                        position: absolute;
                        top: 6px;
                        z-index: 1;
                        width: 24px;
                        height: 24px;
                    }
                }

                .sun svg {
                    left: 35px;
                    animation: rotate 15s linear infinite;
                }

                .moon svg {
                    left: 5px;
                    animation: tilt 5s linear infinite;
                }

                input {
                    opacity: 0;
                    width: 0;
                    height: 0;

                    &:checked+.slider {
                        background-color: var(--blue);
                    }

                    &:focus+.slider {
                        box-shadow: 0 3px 20px -19px var(--black);
                    }

                    &:checked+.slider::before {
                        transform: translateX(30px);
                    }
                }

                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: var(--orange);
                    transition: all 0.4s;
                    border-radius: 30px;

                    &::before {
                        position: absolute;
                        content: "";
                        height: 28px;
                        width: 28px;
                        border-radius: 20px;
                        left: 3px;
                        bottom: 3px;
                        z-index: 2;
                        background-color: var(--white);
                        transition: all 0.4s;
                    }
                }
            }

            .special-sale {
                width: 400px;
                min-height: 200px;
                background: var(--white);
                box-shadow: 0 3px 20px -19px var(--black);
                border-radius: 30px;
                position: absolute;
                top: 100px;
                right: 458px;
                gap: 15px;
                padding: 21px 17px;
                animation: moveTop 1s ease-in-out infinite alternate;

                .top {
                    position: relative;
                    width: 100%;

                    .type-sale {
                        gap: 10px;

                        .box-imgLamp {
                            width: 50px;
                            height: 50px;
                            background: var(--orange);
                            border-radius: 50%;

                            .icon {
                                width: 60%;
                                height: 60%;
                            }
                        }

                        .content {
                            .type {
                                color: var(--text1);
                                margin-bottom: 5px;
                                font-size: 14px;
                            }

                            .text {
                                font-size: 15px;
                                color: var(--text2);
                            }
                        }
                    }

                    .switch {
                        font-size: 17px;
                        position: relative;
                        display: inline-block;
                        width: 60px;
                        height: 34px;
                        top: 0;
                        right: 0;
                        transform: rotate(180deg);

                        input {
                            opacity: 0;
                            width: 0;
                            height: 0;


                            &:checked+.slider {
                                background: var(--blue);
                            }

                            &:focus+.slider {
                                box-shadow: 0 3px 20px -19px var(--black);
                            }

                            &:checked+.slider:before {
                                transform: translateX(28px);
                                background-color: var(--desc4);
                            }
                        }

                        .slider {
                            position: absolute;
                            cursor: pointer;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background: var(--desc4);
                            transition: all 0.4s;
                            border-radius: 30px;

                            &::before {
                                position: absolute;
                                content: "";
                                height: 26px;
                                width: 25px;
                                border-radius: 50%;
                                left: 3px;
                                bottom: 4px;
                                background: var(--blue);
                                transition: all 0.4s;
                            }
                        }
                    }
                }

                .dates {
                    width: 100%;
                    gap: 15px;

                    .start-date,
                    .end-date {

                        .text {
                            color: var(--text1);
                            font-size: 13px;
                            margin-bottom: 10px;
                        }

                        .number {
                            font-size: 18px;
                            color: var(--blue);
                        }
                    }

                    .start-date {
                        text-align: left;
                    }

                    .box-imageTime {
                        width: 65px;
                        height: 65px;
                        background: var(--desc4);
                        border-radius: 50%;

                        .icon {
                            width: 50%;
                            height: 50%;
                        }
                    }

                }

                .dashed {
                    color: var(--desc4);
                    position: absolute;
                    bottom: 38px;
                    right: 0;
                    width: 100%;
                    display: block;
                    font-size: 40px;
                    padding-right: 11px;

                    &::after,
                    &::before {
                        content: "";
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        bottom: 15px;
                        display: block;
                        background: var(--desc4);
                        border-radius: 50px;
                    }

                    &::after {
                        right: -10px;
                    }

                    &::before {
                        left: -10px;
                    }
                }

                .bottom {
                    width: 100%;
                    margin-top: 30px;

                    .btn {
                        font-size: 13px;
                        gap: 10px;

                        .delete {
                            color: $red;
                        }

                        .edit {
                            color: var(--blue);
                        }
                    }

                    .text {
                        font-size: 14px;
                        color: var(--text2);
                    }
                }
            }

            .create-product {
                width: 150px;
                height: 150px;
                border: 1px solid #ffda641c;
                border-radius: 20px;
                gap: 17px;
                background: var(--bgBoxCreateProduct);
                position: absolute;
                top: 380px;
                right: 550px;
                box-shadow: 0 3px 20px -19px var(--black);
                animation: moveTop 1s 1s ease-in-out infinite alternate;

                .icon {
                    width: 50px;
                }

                .text {
                    font-size: 15px;
                    color: var(--text2);
                }
            }
        }
    }
}