$black: #000;
$white: #fff;
$pink: #FF4B7C;
$blue: #0B57D0;
$green: #3DB178;
$red: #EB4235;
$orange: #FFBF00;


$hover1: #0B57D0;
$hover2: #FFBF00;

$text1: #ABB5C6;
$text2: #3D3C45;

$bg: #fff;
$bg2: #f8fafd;

$transition: all 0.3s;